@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @foreach(MovieList.Models.Films films in Model.films)
            {
                <partial name="_FilmViews" model="films" />
            }
</div>
